In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifi_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classifi_counts[classifi_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [5]:
application_df.describe()

             STATUS       ASK_AMT  IS_SUCCESSFUL
count  34299.000000  3.429900e+04   34299.000000
mean       0.999854  2.769199e+06       0.532406
std        0.012073  8.713045e+07       0.498956
min        0.000000  5.000000e+03       0.000000
25%        1.000000  5.000000e+03       0.000000
50%        1.000000  5.000000e+03       1.000000
75%        1.000000  7.742000e+03       1.000000
max        1.000000  8.597806e+09       1.000000

In [6]:
# binning ASK_AMT
application_df['ASK_AMT'] = pd.cut(application_df['ASK_AMT'], bins=[0, 5000, 50000, 500000, 5000000, application_df.ASK_AMT.max()], labels=['0-5000','5000-50000', '50000-500000', '500000-5000000', 'above_5000000'] )
application_df['ASK_AMT'].value_counts()

0-5000            25398
50000-500000       3727
5000-50000         2947
500000-5000000     1590
above_5000000       637
Name: ASK_AMT, dtype: int64

In [7]:
dummy_df = pd.get_dummies(application_df)
dummy_df

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_0-5000,ASK_AMT_5000-50000,ASK_AMT_50000-500000,ASK_AMT_500000-5000000,ASK_AMT_above_5000000
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,1,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
34295,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
34296,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
34297,1,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,0
34298,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [8]:
# Split our preprocessed data into our features and target arrays
X = dummy_df.drop(columns='IS_SUCCESSFUL', axis=1).values
y = dummy_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Optimization

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=len(X_train[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                3840

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,301
Trainable params: 6,301
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5708 - accuracy: 0.7183
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5548 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5506 - accuracy: 0.7309
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5480 - accuracy: 0.7324
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5471 - accuracy: 0.7334
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5459 - accuracy: 0.7334
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5452 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7346
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5432 - accuracy: 0.7364
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7375
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7372
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5387 - accuracy: 0.7381
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7401
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5377 - accuracy: 0.7388
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7391
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7381
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5365 - accuracy: 0.7390
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7393
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7409
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7408
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7414
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7417
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7412
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7411
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7411
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7409
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7405
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7409
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7425
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7425
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7414
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7421
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5305 - accuracy: 0.7416
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7423
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7423
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7425
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7427
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7424
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7436
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7428
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5292 - accuracy: 0.7430
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5296 - accuracy: 0.7430
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7432
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5294 - accuracy: 0.7420
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5289 - accuracy: 0.7428
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7427
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7432
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7434
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7439
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5284 - accuracy: 0.7431
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5286 - accuracy: 0.7421
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5277 - accuracy: 0.7437
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5288 - accuracy: 0.7429
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7432
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5282 - accuracy: 0.7432
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7434
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5283 - accuracy: 0.7432
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7438
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5276 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7427
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7435
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5279 - accuracy: 0.7430
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5276 - accuracy: 0.7428
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5274 - accuracy: 0.7434
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7440
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5273 - accuracy: 0.7426
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7430
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7435
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5271 - accuracy: 0.7430
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5272 - accuracy: 0.7440
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7431
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5270 - accuracy: 0.7440
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7448
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7437

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5695 - accuracy: 0.7293 - 418ms/epoch - 2ms/step
Loss: 0.5694819092750549, Accuracy: 0.7293294668197632

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=(len(X_train[0]) * 2), activation='relu', input_dim=len(X_train[0])))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=len(X_train[0]), activation='relu'))
nn.add(tf.keras.layers.Dense(units=len(X_train[0]), activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 94)                4512

 dense_8 (Dense)             (None, 47)                4465

 dense_9 (Dense)             (None, 47)                2256

 dense_10 (Dense)            (None, 1)                 48

=================================================================
Total params: 11,281
Trainable params: 11,281
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5687 - accuracy: 0.7207
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5536 - accuracy: 0.7289
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5501 - accuracy: 0.7313
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7338
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7347
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7370
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7367
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7361
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7389
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7396
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7397
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7395
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7388
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7411
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7391
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7403
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7396
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7412
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7400
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7404
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7417
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7410
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7403
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7428
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7415
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5301 - accuracy: 0.7415
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7409
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7411
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7420
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7413
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5286 - accuracy: 0.7432
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5284 - accuracy: 0.7424
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5286 - accuracy: 0.7425
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7428
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7429
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5277 - accuracy: 0.7428
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7420
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5274 - accuracy: 0.7435
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5271 - accuracy: 0.7428
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5269 - accuracy: 0.7429
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5267 - accuracy: 0.7432
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5266 - accuracy: 0.7433
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5267 - accuracy: 0.7425
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5273 - accuracy: 0.7420
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5262 - accuracy: 0.7429
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5270 - accuracy: 0.7432
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5258 - accuracy: 0.7430
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5260 - accuracy: 0.7439
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5256 - accuracy: 0.7440
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5255 - accuracy: 0.7432
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5256 - accuracy: 0.7428
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5250 - accuracy: 0.7435
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5250 - accuracy: 0.7423
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5251 - accuracy: 0.7438
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5253 - accuracy: 0.7429
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5250 - accuracy: 0.7430
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5254 - accuracy: 0.7425
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5250 - accuracy: 0.7433
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5244 - accuracy: 0.7445
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5247 - accuracy: 0.7441
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5253 - accuracy: 0.7426
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5249 - accuracy: 0.7426
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5254 - accuracy: 0.7435
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5251 - accuracy: 0.7439
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5240 - accuracy: 0.7445
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5237 - accuracy: 0.7448
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5242 - accuracy: 0.7444
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5240 - accuracy: 0.7446
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5241 - accuracy: 0.7436
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5238 - accuracy: 0.7453
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5243 - accuracy: 0.7438
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5235 - accuracy: 0.7444
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5238 - accuracy: 0.7442
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5242 - accuracy: 0.7435
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5236 - accuracy: 0.7441
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5233 - accuracy: 0.7443
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5234 - accuracy: 0.7435
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5235 - accuracy: 0.7432
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5233 - accuracy: 0.7441
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5232 - accuracy: 0.7441
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5242 - accuracy: 0.7439
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5236 - accuracy: 0.7441
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5227 - accuracy: 0.7442
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5229 - accuracy: 0.7447
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5226 - accuracy: 0.7441
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5226 - accuracy: 0.7441

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5925 - accuracy: 0.7292 - 568ms/epoch - 2ms/step
Loss: 0.592539370059967, Accuracy: 0.7292128205299377

In [37]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=2), activation=activation, input_dim=47))

    for i in range(hp.Int('num_layers', 1, 3)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=100,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [38]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [39]:
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 02m 09s]
val_accuracy: 0.7317784428596497

Best val_accuracy So Far: 0.7345772385597229
Total elapsed time: 01h 33m 49s
INFO:tensorflow:Oracle triggered exit

In [40]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 15,
 'num_layers': 2,
 'units_0': 21,
 'units_1': 23,
 'units_2': 71,
 'tuner/epochs': 17,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 1,
 'tuner/round': 0}

In [41]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5528 - accuracy: 0.7346 - 504ms/epoch - 2ms/step
Loss: 0.5527530908584595, Accuracy: 0.7345772385597229

In [ ]:
# Making a model with the best hyperparameters
nn = tuner.hypermodel.build(best_hyper)

In [ ]:
# Saving the best model to HDF5 file
nn.save('Models/AlphabetSoupCharity_Optimization.h5')